
<div class="dashboard"> 
  <header>
    <div class="profile" #menuButton (click)="handleMenuOpened()">
      <mat-icon aria-hidden="false" aria-label="app menu" fontIcon="menu" class="icon"></mat-icon>
    </div>
    <h3>Gamer Finder</h3>
    <div class="notification" (click)="handleNotificationClick()">
      @if (hasNewNotification) {
        <mat-icon aria-hidden="false" aria-label="has a new notification" fontIcon="notifications_active" class="icon"></mat-icon>
      }
      @if (!hasNewNotification) {
        <mat-icon aria-hidden="false" aria-label="no new notification" fontIcon="notifications_none" class="icon"></mat-icon>
      }
    </div>
  </header>
  <main>
    @for (user of users; track $index) {
      <div class="user-card">
        <img [src]="user.imgLink" [alt]="user.username">
      </div>
    }
  </main>
  <app-sidebar [isOpen]="isMenuOpen" (oncloseMenu)="handleMenuClosed($event)" />
  <div>
    <p>dashboard works!</p>
  </div>
</div>
