<aside class="sidebar" [class.open]="isOpen()" #sidebar >
  <div class="profile-picture">
    <img src="{{userProfilePicture}}" alt="">
    <!-- <app-profile-icon class="profile-picture" /> -->
  </div>
  <div class="username">Username</div>
  <div class="separation"></div>
  <nav class="menu">
    <ul>
      <li><a (click)="onClickProfile()">
        <mat-icon aria-hidden="false" aria-label="button to profile" fontIcon="person" class="icon"></mat-icon>
        Profile</a>
      </li>
      <li><a>test</a></li>
      <li><a>test</a></li>
      <li><a>test</a></li>
    </ul>
  </nav>

  <label class="sidebar-close"></label>
</aside>